.PrimaryCard {
  cursor: pointer;
  padding: 32px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;

  @media (prefers-color-scheme: dark) {
    background-color: #333;
    color: #fff;
  }
}

.hoverEffect:hover {
  transform: scale(1.15);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.2);
    filter: brightness(1.1);
  }
}
